<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <title>Cadastrar aluno</title>

</head>
<body>

    <form>

        <label>RA</label>
        <input type="text" name ="txtRA">

        <label>Nome</label>
        <input type="text" name ="txtNome">

        <label>Idade</label>
        <input type="text" name = "txtIdade">

        <label>E-mail</label>
        <input type="text" name = "txtEmail">

        <button type="submit">Cadastrar Aluno</button>

    </form>
    
</body>
</html>